.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Alerts */
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}

.alert-primary {
  background: #cfe2ff;
  color: #084298;
}

.alert-light {
  background: #f8f9fa;
  color: #6c757d;
}

.alert-dark {
  background: #d3d3d4;
  color: #141619;
}

.alert-danger {
  background: #f8d7da;
  color: #842029;
}

.alert-success {
  background: #d1e7dd;
  color: #0f5132;
}

.alert-white {
  background: #fff;
  color: #000;
  border: #ccc solid 1px;
}